@keyframes fadeIn {
    from {
        opacity: 0.01;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes slideIn {
    from {
        transform: translateY(20px);
    }

    to {
        transform: translateY(0);
    }
}

@keyframes slideOut {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-20px);
    }
}

#root-loader {
    height: 60vh;
    width: 100vw;
    overflow: hidden;
    margin: 0;
    padding: 0;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 50;
    color: transparent;
    fill: currentColor;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0.01;
    // animation: 400ms ease-in-out 1 forwards fadeIn;
}

.root-loader-inner {
    position: relative;
}

#root-loader.out {
    // animation: 400ms ease-in-out 400ms 1 forwards fadeOut;
    opacity: 1;
}

#loader-bar {
    height: auto;
    margin-top: 16px;
}

#loader-logo {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(20px);
    position: absolute;
    bottom: 20px;
    // animation: 400ms ease-in-out 1 forwards slideIn;
}

#root-loader.out #loader-logo {
    // animation: 400ms ease-in-out 400ms 1 forwards slideOut;
    transform: translateY(0);
}

@media (prefers-reduced-motion) {
    #loader-logo {
        transform: translateY(0);
        // animation: 400ms ease-in-out 1 forwards fadeIn;
    }

    #root-loader.out #loader-logo {
        // animation: 600ms ease-in-out 1 forwards fadeOut;
    }
}

.renderer-in {
    // animation: 400ms ease-in-out 800ms 1 normal forwards running fadeIn;
    opacity: 1;
}


            .bjydOA {
                display: inline-block;
                position: relative;
                z-index: -20;
                line-height: 0;
                opacity: 1;
                background-color: #fafafa;
                background-image: url(https://images.typeform.com/images/GvGgKfkpuGMr/background/large);
                background-position: top center;
                background-size: cover;
                height: 100%;
                width: 100%;
                position: absolute;
                top: 0;
                left: 0;
            }

            /*!sc*/
            .bjydOA::before {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                pointer-events: none;
                z-index: 1;
                opacity: 0.03;
                background-color: #000;
            }

            /*!sc*/
            data-styled.g14[id="Background-sc-__sc-1x0n4hq-1"] {
                content: "bjydOA,"
            }

            /*!sc*/
            .chHXJi {
                width: 100%;
                height: 4px;
                border-radius: 4px;
                overflow: hidden;
                background-color: rgba(61,61,61,0.3);
                position: relative;
            }

            /*!sc*/
            data-styled.g17[id="ProgressTrack-sc-__sc-zr62pz-0"] {
                content: "chHXJi,"
            }

            /*!sc*/
            .cMqihe {
                height: 100%;
                width: 100%;
                width: 0%;
                background-color: #3D3D3D;
                border-radius: 4px;
                -webkit-transition: 0.4s;
                transition: 0.4s;
                width: 100%;
                -webkit-animation: iRScrV 1.3s infinite linear;
                animation: iRScrV 1.3s infinite linear;
                -webkit-transform-origin: 0% 50%;
                -ms-transform-origin: 0% 50%;
                transform-origin: 0% 50%;
            }

            /*!sc*/
            data-styled.g18[id="ProgressFill-sc-__sc-zr62pz-1"] {
                content: "cMqihe,"
            }

            /*!sc*/
            .gSSuSh {
                width: 100%;
                height: 100%;
                display: -webkit-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: center;
                -webkit-justify-content: center;
                -ms-flex-pack: center;
                justify-content: center;
                -webkit-align-items: center;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
            }

            /*!sc*/
            data-styled.g19[id="LoaderLayout-sc-__sc-chri7q-0"] {
                content: "gSSuSh,"
            }

            /*!sc*/
            .joJQzf {
                display: -webkit-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                -webkit-flex-direction: column;
                -ms-flex-direction: column;
                flex-direction: column;
                text-align: center;
                -webkit-align-items: center;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
            }

            /*!sc*/
            data-styled.g20[id="LoaderWrapper-sc-__sc-chri7q-1"] {
                content: "joJQzf,"
            }

            /*!sc*/
            .kPFDHw {
                width: 160px;
            }

            /*!sc*/
            data-styled.g22[id="LoadingBarWrapper-sc-__sc-chri7q-3"] {
                content: "kPFDHw,"
            }

            /*!sc*/
            .deAjlF {
                max-width: 96px;
            }

            /*!sc*/
            data-styled.g23[id="LogoWrapper-sc-__sc-1wcjprt-0"] {
                content: "deAjlF,"
            }

            /*!sc*/
            .cGTkqT {
                max-width: 100%;
                max-height: 40px;
            }

            /*!sc*/
            data-styled.g24[id="Image-sc-__sc-1wcjprt-1"] {
                content: "cGTkqT,"
            }

            /*!sc*/
            @-webkit-keyframes iRScrV {
                0% {
                    -webkit-transform: translateX(0) scaleX(0);
                    -ms-transform: translateX(0) scaleX(0);
                    transform: translateX(0) scaleX(0);
                }

                10% {
                    -webkit-transform: translateX(0) scaleX(0.2);
                    -ms-transform: translateX(0) scaleX(0.2);
                    transform: translateX(0) scaleX(0.2);
                }

                40% {
                    -webkit-transform: translateX(0) scaleX(0.7);
                    -ms-transform: translateX(0) scaleX(0.7);
                    transform: translateX(0) scaleX(0.7);
                }

                60% {
                    -webkit-transform: translateX(60%) scaleX(0.4);
                    -ms-transform: translateX(60%) scaleX(0.4);
                    transform: translateX(60%) scaleX(0.4);
                }

                100% {
                    -webkit-transform: translateX(100%) scaleX(0.2);
                    -ms-transform: translateX(100%) scaleX(0.2);
                    transform: translateX(100%) scaleX(0.2);
                }
            }

            /*!sc*/
            @keyframes iRScrV {
                0% {
                    -webkit-transform: translateX(0) scaleX(0);
                    -ms-transform: translateX(0) scaleX(0);
                    transform: translateX(0) scaleX(0);
                }

                10% {
                    -webkit-transform: translateX(0) scaleX(0.2);
                    -ms-transform: translateX(0) scaleX(0.2);
                    transform: translateX(0) scaleX(0.2);
                }

                40% {
                    -webkit-transform: translateX(0) scaleX(0.7);
                    -ms-transform: translateX(0) scaleX(0.7);
                    transform: translateX(0) scaleX(0.7);
                }

                60% {
                    -webkit-transform: translateX(60%) scaleX(0.4);
                    -ms-transform: translateX(60%) scaleX(0.4);
                    transform: translateX(60%) scaleX(0.4);
                }

                100% {
                    -webkit-transform: translateX(100%) scaleX(0.2);
                    -ms-transform: translateX(100%) scaleX(0.2);
                    transform: translateX(100%) scaleX(0.2);
                }
            }

            /*!sc*/
            data-styled.g25[id="sc-keyframes-iRScrV"] {
                content: "iRScrV,"
            }
