<div class="container-footer">
    <div class="footer">
        <div class="col-1">
            <p>Vive Nua, vive felicidad</p>
            <p> Nua © 2023 </p>
        </div>
        <div class="col-2">
            <a href="https://www.vivenua.com" target="_blank" rel="noopener noreferrer" >
                <img src="/assets/corporative/logo-w.svg"/>
                <p>Conoce Vive Nua</p>
            </a>
        </div>
        <div class="col-3">
            <p>Síguenos</p>
            <div>
                <a href="https://www.facebook.com/profile.php?id=100090857894017" target="_blank" rel="noopener noreferrer" >
                    <img src="/assets/corporative/facebook.svg" />
                </a>
                <a href="https://www.instagram.com/vivenua/" target="_blank" rel="noopener noreferrer" >
                    <img src="/assets/corporative/instagram.svg" />
                </a>
                <a href="https://www.linkedin.com/company/vivenua/jobs/" target="_blank" rel="noopener noreferrer" >
                    <img src="/assets/corporative/linkedin.svg" />
                </a>
            </div>
        </div>
    </div>
</div>