@import '../../../styles.scss';

.container{
    @extend .base-container;
}

@media only screen and (min-width: 600px) {
    .container{
        max-height: 50vh;
        overflow: auto;
    }
}


.header{
    display: grid;
    grid-template-columns: 3rem 1fr;
    grid-template-rows: 1fr;
}

p{
    font-weight: 700;
    font-size: 1rem;
    margin: 0.5rem;
    padding-top: 10px;
}


img{
    width: 2rem;
    rotate: 180deg;
    margin: 0.5rem;
    cursor: pointer;
}