@import '../../../styles.scss';

.container{
    @extend .base-container;
    // height: 49.2vh !important;
    overflow: auto;
    border: solid 0.8rem #f7f6f6;
    padding: 0px;
    display: grid;
    height: fit-content;
    // position: relative;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}



p{
    display: inline-block;
    font-size: 16px;
    line-height: 1rem;
    margin-left: 10px;
    font-weight: 500;
    padding-top: 0px;
}

.item-container{
    // border: solid 2px rgb(159, 126, 238);
    border: solid 2px #5326a0;
    margin: .5rem;
    margin-bottom: 5px;
    margin-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    display: grid;
    grid-template-columns: 5.4rem 1fr 2.6rem;
    grid-template-rows: 1fr;
}

img{
    width: 2rem;
    margin: 10px;
    cursor: pointer;
    // position: absolute;
    // right: 2rem;
}

@media only screen and (max-width: 600px) {
    .item-container{
        grid-template-columns: 4.9rem 1fr 2.6rem;
        grid-template-rows: 1fr;
    }
    .container{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
}

.button{
    background: #5326a0;
    width: 280px;
    height: 40px;
    font-size: 18px;
    font-weight: 500;
    display: block;
    margin: auto;
    border-radius: 10rem;
    color: white;
    border: 0px;
    font-family: "Raleway";
    cursor: pointer;
}