<div class="title-recommend">{{extras.name}}</div>
<div class="container">
    <section>
        <p class="title-bar">Plan de desarrollo: Tus habilidades primordiales</p>
        <app-horizontal-barchar-stacked 
            [dataLabels]="dataLabels" 
            [dataValuesActual]="dataValuesActual" 
            [dataValuesExpected]="dataValuesExpected"/>
    </section>
    <section>
        <p class="title-bar">Tu plan recomendado</p>
        Te recomendamos ver los siguientes Programas en linea:
        <div class="course" *ngFor="let course of extras.recommend.cursos">
            <img src="assets/imgs/study.svg">
            <p>{{course}}</p>
        </div>
        <hr/>
        <p class="title-bar">Utiliza estas herramientas Esenciales</p>
        <div class="course" *ngFor="let gear of extras.recommend.herramientas">
            <img src="assets/imgs/paper_study.svg">
            <p>{{gear}}</p>
        </div>
    </section>
</div>