.title-recommend{
    margin-top: 2rem;
    font-weight: 700;
    margin: 1rem;
    width: 100%;
    text-align: center;
    font-size: 2.2rem;
}

.container-recommend{
    background: #f7f6f6;
    border-radius: 15px;
    padding: 1rem;
    height: fit-content;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    margin-top: 1rem;
    gap: 1rem;
    section {
        @extend .container-recommend;
    }
}

@media only screen and (max-width: 600px) {
    .container{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        section:last-child{
            margin-bottom: 1rem;
        }
    }
}

.title-bar{
    font-size: 16px;
    color: #311868;
    font-weight: 600;
}

.course{
    display: grid !important;
    grid-template-columns: 45px 1fr !important;
    grid-template-rows: 1fr !important;
    background: #edebeb !important;
    border-radius: 2rem !important;
    border: 2px solid #edebeb !important;
    padding: 0px !important;
    margin: 10px !important;
    padding-left: 10px !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    gap: 1rem !important;
    cursor: pointer;
    p{
        font-size: 14px;
        color: #311868;
        font-weight: 600;
    }
}