.subheader{
    display: grid;
    grid-template-columns: 6rem 1fr;
    grid-template-rows: 1fr;
    p{
        margin: 1.3rem;
    }
}

p{
    font-weight: 700;
    font-size: 1.5rem;
    margin: 0.5rem;
}

span{
    margin: 0.5rem;
}