@import '../../../styles.scss';

.container{
    @extend .base-container;
    cursor: pointer;
}

canvas {
    // height: 50vh !important;
    // width: auto !important;
    // margin: auto !important;
    // display: block !important;
    margin: auto !important;
    display: block !important;
    width: 40vw !important;
    height: 40vw !important;
}

@media only screen and (max-width: 600px) {
    // canvas {
    //     height: auto !important;
    //     width: 100% !important;
    //     margin: auto !important;
    //     display: block !important;
    // }
}