@import '../../../styles.scss';

.container{
    @extend .base-container;
    cursor: pointer;
}

canvas {
    height: 50vh !important;
    width: auto !important;
    margin: auto !important;
    display: block !important;
}