.container-outlet {
    display: block;
    min-height: 80%;
    background: transparent;
    min-height: 80vh;
    // height: 80vh;
    width: 70rem;
    margin: auto;
}
@media only screen and (max-width: 600px) {
    .container-outlet{
        width: 97vw;

    }
}