@import '../../../styles.scss';

.title{
    font-weight: 700;
    margin: 1rem;
    width: 100%;
    text-align: center;
    font-size: 2.2rem;
}

.container{
    display: grid;
    grid-template-columns: 20% 1fr;
    grid-template-rows: 1fr;
    margin: 1rem;
    background: #f7f6f6;
    padding: 1rem;
    border-radius: 15px;

    div{
        font-weight: 700;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        p {
            text-align: center;
        }
        app-badge{
            margin: auto;
        }
    }
    p{
        text-align: justify;
        margin:0
    }

}

@media only screen and (max-width: 600px) {
    .container{
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        div {
            grid-template-columns: 70% 1fr;
            grid-template-rows: 1fr;
            p{
                margin-top: 0.8rem;
                text-align: start;
            }
            app-badge{
                margin-top: 0px !important;
                margin-bottom: 0px !important;
            }
        }
    }
}