 <div class="container">
    <div class="title">
        <p>{{title}}</p>
        <img src="assets/imgs/right-arrow.svg" alt="close" class="more" (click)="more()"/>
    </div>
    <div class="bar-container" #gaugeBar>
        <div *ngFor="let item of secciones; let i = index" [ngStyle]="getStyle(i)" ></div>
        <div class="bar-label">
            <span class="arrow" [style.left]="marginleft + 'px'"></span>
            <span class="label" [style.left]="marginleft + 'px'">{{ round(percent)}}%</span>
        </div>
    </div>
</div>