@import '../../../styles.scss';

.container{
    @extend .base-container;
    // height: 6.3rem;
    padding-bottom: 1.4rem;
}

p{
    font-weight: 700;
    font-size: 1rem;
    margin: 0.5rem;
}

.bar-container{
    width: auto;
    height: 1.3rem;
    padding: 5px;
    border-radius: 5rem;
    border: 2px solid transparent;
}

.bar-description{
    font-size: 14px;
    padding: 0.5rem;
    text-align: justify;
    margin: 0.2rem;
}

.bar-label{
    .arrow{
        width: 0;
        height: 0;
        border-right: 15px solid transparent;
        border-top: 15px solid transparent;
        border-left: 15px solid transparent;
        border-bottom: 15px solid #000000;
        display: block;
        position: relative;
        top: -1.5rem;
    }
    .label {
        position: relative;
        top: -1.6rem;
        font-size: 0.8rem;
    }
}

.more{
    width: 2rem;
    cursor: pointer;
}

.title{
    display: grid;
    grid-template-columns: 1fr 2rem;
    grid-template-rows: auto;
    margin: 5px;
}